<form (ngSubmit)="Ajoutuser()" class="row justify-content-center border border-secondary border-3 rounded p-5 position-absolute top-50 start-50 translate-middle">
    <h3 class="h3 mb-3 font-weight-normal text-center" class="text-center pb-5" style="color: #EF9595;">Register</h3>
    <div class="mb-3">
        <label>Email</label>
        <input type="text" class="form-control mt-3" id="email" name="email" placeholder="email" [(ngModel)]="user.email">
    </div>
    <div class="mb-3">
        <label>Password</label>
        <input type="text" class="form-control mt-3" id="password" name="password" placeholder="password"
            [(ngModel)]="user.password">
    </div>
    <div class="mb-3">
        <label>FirstName</label>
        <input type="text" class="form-control mt-3" id="firstname" name="firstname" placeholder="firstname"
            [(ngModel)]="user.firstname">
    </div>
    <div class="mb-3">
        <label>LastName</label>
        <input type="text" class="form-control mt-3" id="lastname" name="lastname" placeholder="lastname"
            [(ngModel)]="user.lastname">
    </div>
    <div class="d-flex align-items-center justify-content-center">
        <button class="btn mt-3 text-center" style="background-color: #EF9595; color:white;" type="submit">Enregistrer</button>
    </div>
</form>